@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes leitlearn_fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes leitlearn_fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes leitlearn_fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes leitlearn_fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@-webkit-keyframes leitlearn_fadein_responsive {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

@keyframes leitlearn_fadein_responsive {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 80px;
        opacity: 1;
    }
}

@-webkit-keyframes leitlearn_fadeout_responsive {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes leitlearn_fadeout_responsive {
    from {
        bottom: 80px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes ai-skeleton-loading {
    0% {
        background: #505656;
    }
    100% {
        background: #424648;
    }
}

@keyframes ai-loading-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes leitlearn_header_arrow_move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(7px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes leitlearn_move_up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes leitlearn_modal_slide_in {
    from {
        bottom: -800px;
    }

    to {
        bottom: 0;
    }
}

@keyframes leitlearn_modal_slide_out {
    from {
        bottom: 0;
    }

    to {
        bottom: -800px;
    }
}