.ia,
.redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--main-bg-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 4;
}

.ia {
    position: fixed;
    right: 30px;
    bottom: 20px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.redirect {
    position: fixed;
    right: 95px;
    bottom: -1000px;
}

.redirect.show {
    bottom: 20px;
}

.redirect.no-ia {
    right: 50px;
}

.ia-chatbot.show {
    bottom: 0;
}

.redirect span {
    color: black;
    font-size: 35px;
}

.ia:hover,
.redirect:hover {
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

@media screen and (max-width: 620px) {
    .ia-chatbot {
        right: 0 !important;
    }

    .ia-chatbot.show {
        right: 0;
        bottom: 0;
        height: 80%;
        width: 100%;
        z-index: 12;
    }
}

@media screen and (max-width: 620px) {
    .redirect.show {
        right: 80px;
        bottom: 65px !important;
    }

    .redirect.no-ia {
        right: 20px;
        bottom: 65px !important;
    }

    .ia {
        right: 20px;
        bottom: 65px !important;
    }
}