.auth {
    background: var(--second-bg-color);
}

.fixed-logo-left {
    position: fixed;
    top: 15px;
    left: 20px;
    height: 30px;
}

.auth main {
    display: flex;
    justify-content: center;
    margin: 90px 300px;
}

.auth .auth-content {
    width: 50%;
    margin-right: 40px;
}

.auth .auth-content h1 {
    color: var(--text-black-color);
    margin-bottom: 15px;
}

.auth .auth-content p {
    color: var(--text-light-color);
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.auth .auth-form {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 30px;
    width: 50%;
    height: 500px;
}

.auth .auth-form .auth-form-header {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background: white;
    z-index: 2;
}

.auth .auth-form .auth-form-header h3 {
    margin-bottom: 7px;
    color: var(--text-black-color);
    font-size: 20px;
    font-weight: 600;
}

.auth .auth-form .auth-form-header p {
    color: var(--text-light-color);
    font-size: 14px;
    font-weight: 500;
}

.auth .auth-form .auth-form-body {
    height: calc(100% - 120px);
    overflow-y: scroll;
    margin: 20px 0;
}

.auth .auth-form-submit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background: white;
}