main.refresh {
    padding-left: 80px;
    height: 100vh;
    background: var(--second-bg-color);
}

main.refresh .refresh-grid {
    height: 100vh;
    display: grid;
    gap: 32px;
    grid-template-areas:
        "panel-left panel-center panel-right";
    grid-template-columns: repeat(3, minmax(auto, 390px));
    grid-template-rows: 610px;
    place-content: center;
    -webkit-box-pack: center;
}

main.refresh .refresh-grid .panel-right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main.refresh .refresh-grid .panel-right-top,
main.refresh .refresh-grid .panel-right-bottom {
    flex: 1 1 0%;
}

main.refresh .refresh-grid .panel-left {
    grid-area: panel-left;
}

main.refresh .refresh-grid .panel-center {
    grid-area: panel-center;
}

main.refresh .refresh-grid .panel-right {
    grid-area: panel-right;
}

main.refresh .refresh-grid .panel-right-top {
    grid-area: panel-right-top;
    margin-bottom: 32px;
}

main.refresh .refresh-grid .panel-right-bottom {
    grid-area: panel-right-bottom;
}

main.refresh .refresh-grid .grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    border-radius: 8px;
}

main.refresh .refresh-grid .grid-item .item-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

main.refresh .refresh-grid .grid-item .filters {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    overflow-x: scroll;
}

main.refresh .refresh-grid .grid-item .filters .filter {
    padding: 4px 8px;
    background: var(--second-bg-color);
    border-radius: 20px;
    cursor: pointer;
}

main.refresh .refresh-grid .grid-item .filters .filter.active {
    background: var(--main-bg-color);
    color: white;
}

main.refresh .refresh-grid .grid-item .filters .filter:not(:last-child) {
    margin-right: 7px;
}

main.refresh .refresh-grid .grid-item .item-decks {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

main.refresh .refresh-grid .grid-item .item-decks .deck {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: var(--second-bg-color);
    cursor: pointer;
}

main.refresh .refresh-grid .grid-item .item-decks .deck:not(:first-child) {
    margin-top: 10px;
}

main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data,
main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data .creator,
main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data .flashcards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data .creator .avatar {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data .creator h6,
main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data .flashcards h6,
main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data .flashcards span {
    font-size: 13px;
    font-weight: 600;
}

main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data .creator h6 {
    font-weight: 500;
}

main.refresh .refresh-grid .grid-item .item-decks .deck .deck-header .deck-data .flashcards span {
    margin-left: 4px;
}

main.refresh .refresh-grid .grid-item .item-decks .deck .deck-name {
    margin-top: 7px;
    font-size: 18px;
}

main.refresh .refresh-grid .grid-item .item-body {
    height: 100%;
}

main.refresh .refresh-grid .grid-item .go-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

main.refresh .refresh-grid .grid-item .go-back img {
    width: 80px;
    margin-bottom: 15px;
}