main.refresh {
    padding-left: 80px;
    height: 100vh;
    background: var(--second-bg-color);
}

main .new-ui {
    position: absolute;
    top: 5px;
    right: 32px;
}

main .new-ui h5 {
    margin-right: 5px;
}

main .new-ui .switch-container .switch {
    width: 54px;
    height: 20px;
}

main .new-ui .switch-container .switch input+span:before {
    width: 16px;
    height: 16px;
}

main.refresh .refresh-grid {
    height: 100vh;
    display: grid;
    gap: 32px;
    grid-template-areas:
        "panel-left panel-center panel-right";
    grid-template-columns: repeat(3, minmax(auto, 390px));
    grid-template-rows: 610px;
    place-content: center;
    -webkit-box-pack: center;
}

main.refresh .refresh-grid.panel-full {
    grid-template-areas:
        "panel-left panel-center";
    grid-template-columns: 390px 780px;
}

main.refresh .refresh-grid .panel-right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main.refresh .refresh-grid .panel-right-top,
main.refresh .refresh-grid .panel-right-bottom {
    flex: 1 1 0%;
}

main.refresh .refresh-grid .panel-left {
    grid-area: panel-left;
}

main.refresh .refresh-grid .panel-center {
    grid-area: panel-center;
}

main.refresh .refresh-grid .panel-right {
    grid-area: panel-right;
}

main.refresh .refresh-grid .panel-right-top {
    grid-area: panel-right-top;
    margin-bottom: 32px;
}

main.refresh .refresh-grid .panel-right-bottom {
    grid-area: panel-right-bottom;
}

main.refresh .refresh-grid .grid-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

main.refresh .refresh-grid .grid-item .item-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

main.refresh .refresh-grid .grid-item .item-header .item-flex,
main.refresh .refresh-grid .grid-item .item-header .item-flex .header-actions {
    display: flex;
    align-items: center;
}

main.refresh .refresh-grid .grid-item .item-header .item-flex .header-actions {
    margin: 0 0 0 auto;
    list-style: none;
}

main.refresh .refresh-grid .grid-item .item-header .item-flex .header-actions .action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background: var(--second-bg-color);
    border-radius: 50%;
    cursor: pointer;
}

main.refresh .refresh-grid .grid-item .item-header .item-flex .header-actions .action:not(:last-child) {
    margin-right: 10px;
}

main.refresh .refresh-grid .grid-item .filters {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    overflow-x: scroll;
}

main.refresh .refresh-grid .grid-item .filters .filter {
    padding: 4px 8px;
    background: var(--second-bg-color);
    border-radius: 20px;
    cursor: pointer;
}

main.refresh .refresh-grid .grid-item .filters .filter.active {
    background: var(--main-bg-color);
    color: white;
    transition: all .3s;
}

main.refresh .refresh-grid .grid-item .filters .filter:not(:last-child) {
    margin-right: 7px;
}

main.refresh .refresh-grid .grid-item .item-decks {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

main.refresh .refresh-grid .grid-item .item-body {
    height: 100%;
    overflow-y: scroll;
}

main.refresh .item-body .item-links {
    display: flex;
    flex-direction: column;
}

main.refresh .item-body .item-links .item-link {
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

main.refresh .item-body .item-links .item-link.active {
    color: var(--main-bg-color);
}

main.refresh .item-body .item-links .item-link span {
    margin-right: 10px;
    font-size: 34px;
}

main.refresh .refresh-grid .grid-item .user {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

main.refresh .refresh-grid .grid-item .user .avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
}

main.refresh .refresh-grid .grid-item .actions {
    display: flex;
    flex-direction: column;
}

main.refresh .refresh-grid .grid-item .actions .action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    color: black;
    font-size: 16px;
    border: 0;
    font-weight: 500;
    background: var(--second-bg-color);
    border-radius: 25px;
    cursor: pointer;
}

main.refresh .refresh-grid .grid-item .actions .action span {
    margin-right: 7px;
}

main.refresh .refresh-grid .grid-item .actions .action:not(:last-child) {
    margin-bottom: 10px;
}

main.refresh .refresh-grid .grid-item .actions .action.primary {
    background: var(--main-bg-color);
    color: white;
}

main.refresh .refresh-grid .grid-item .go-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

main.refresh .refresh-grid .grid-item .go-back img {
    width: 80px;
    margin-bottom: 15px;
}

main.refresh .friends {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

main.refresh .friends .friend {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--second-bg-color);
    background-size: cover;
    transition: all .3s;
    cursor: pointer;
}

main.refresh .friends .friend:active {
    transform: scale(.95);
}

main.refresh .friends .friend:not(:last-child) {
    margin-right: 15px;
}

main.refresh .item-body .friend-status {
    margin-bottom: 15px;
    text-align: center;
    color: var(--main-bg-color);
}

main.refresh .item-body .no-friends {
    margin: 45px auto 0;
}

main.refresh .setting .setting-actions {
    display: flex;
    flex-direction: column;
}

main.refresh .setting {
    padding-bottom: 15px;
    border-bottom: 1px solid var(--second-bg-color);
}

main.refresh .setting:not(:first-child) {
    padding: 15px 0;
}

main.refresh .setting h2 {
    margin-bottom: 10px;
}

main.refresh .setting .setting-actions .action {
    display: flex;
    align-items: center;
    font-size: 15px;
}

main.refresh .setting .setting-actions .action:not(:last-child) {
    margin-bottom: 15px;
}

main.refresh .setting .setting-actions .action a,
main.refresh .setting .setting-actions .action button,
main.refresh .setting .setting-actions .action select {
    margin-left: auto;
}

main.refresh .setting .setting-actions .action button {
    color: var(--main-bg-color);
    background: transparent;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    cursor: pointer;
}

main.refresh .setting .setting-actions .action button.alert {
    color: #D6221D;
}

main.refresh .setting .setting-actions .action select {
    padding: 4px 9px;
    margin-right: 0;
}

main.refresh .version {
    margin-top: 10px;
    color: rgba(0, 0, 0, .4);
    text-align: right;
}
