.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-form .auth-form-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: auto;
    padding: 25px 70px;
    background: #212121;
    border-radius: 15px;
}

.auth-form .auth-form-container .auth-form-header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.auth-form .auth-form-container .auth-form-header .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #111111;
    transition: all .3s;
    cursor: pointer;
}

.auth-form .auth-form-container .auth-form-header .logo {
    margin: auto;
    height: 45px;
    transform: translateX(-50%);
    object-fit: cover;
    cursor: pointer;
}

.auth-form .auth-form-container .auth-form-header .close:active {
    transform: scale(.96);
}

.auth-form .auth-form-container .auth-form-body {
    margin-top: 50px;
}

.auth-form .auth-form-container .auth-form-body .title {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 800;
}

.auth-form .auth-form-container .auth-form-body .desc {
    max-width: 90%;
    font-weight: 600;
    font-size: 15px;
    color: rgba(255, 255, 255, .7);
}

.auth-form .auth-form-container .auth-form-body form {
    margin-top: 20px;
}

.auth-form .auth-form-container .auth-form-body form,
.auth-form .auth-form-container .auth-form-body input {
    width: 100%;
}

.auth-form .auth-form-container .auth-form-body input[type=text],
.auth-form .auth-form-container .auth-form-body input[type=password] {
    margin-bottom: 12px;
    background: #212121;
    color: white;
    border: 2px solid rgba(255, 255, 255, .3);
}

.auth-form-body form .input-group label {
    color: rgba(255, 255, 255, .6);
    background: #212121;
}

.auth-form-body form .input-group input:focus+label,
.auth-form-body form .input-group input:not(:placeholder-shown)+label,
.auth-form-body form .input-group textarea:not(:placeholder-shown)+label {
    color: var(--main-bg-color);
    background: #212121;
}

.auth-form-body form .input-group input:not(:focus)+label {
    color: rgba(255, 255, 255, .5) !important;
}

.auth-form-body form select {
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .3);
}

.auth-form-body form .birth .info,
.auth-form-body form .genre .info {
    color: white;
}