.snackbar {
    visibility: hidden;
    position: fixed;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    padding: 16px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    z-index: 10;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: leitlearn_fadein 0.5s, leitlearn_fadeout 0.5s 2.5s;
    animation: leitlearn_fadein 0.5s, leitlearn_fadeout 0.5s 2.5s;
}

.snackbar span {
    display: block;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-light-color);
    text-align: center;
}

.snackbar .icon span {
    font-size: 25px;
    margin-right: 10px;
}

.snackbar.success span {
    color: #00E676;
}

.snackbar.error span {
    color: #FF5252;
}

@media screen and (max-width: 620px) {
    .snackbar {
        top: 80px;
    }

    .snackbar span {
        font-size: 11px;
    }
}

@media screen and (max-width: 440px) {
    .snackbar {
        min-width: 300px;
    }
}