.snackbar {
    visibility: hidden;
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    padding: 16px;
    min-width: 350px;
    background: var(--main-bg-color);
    border-bottom: 2px solid #d5bf16;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: leitlearn_fadein 0.5s, leitlearn_fadeout 0.5s 2.5s;
    animation: leitlearn_fadein 0.5s, leitlearn_fadeout 0.5s 2.5s;
}

.snackbar span {
    display: block;
    font-weight: 600;
    color: black;
    text-align: center;
}

@media screen and (max-width: 620px) {
    .snackbar {
        bottom: 80px;
        min-width: 400px;
    }
    .snackbar.show {
        visibility: visible;
        -webkit-animation: leitlearn_fadein_responsive 0.5s, leitlearn_fadeout_responsive 0.5s 2.5s;
        animation: leitlearn_fadein_responsive 0.5s, leitlearn_fadeout_responsive 0.5s 2.5s;
    }
}

@media screen and (max-width: 440px) {
    .snackbar {
        min-width: 300px;
    }
}