@import url('buttons/buttons.css');
@import url('buttons/landing_redirect.css');
@import url('dropdowns/dropdowns.css');
@import url('flashcards/flashcards.css');
@import url('footer/footer.css');
@import url('forms/auth.css');
@import url('forms/forms.css');
@import url('forms/loader.css');
@import url('modals/modals.css');
@import url('navbar/navbar.css');
@import url('navbar/mobile.css');
@import url('packets/packets.css');
@import url('packets/refreshed.css');
@import url('packets/scroll_menu.css');
@import url('sidebar/sidebar.css');
@import url('snackbar/snackbar.css');
@import url('tabs/tabs.css');
@import url('switch/switch.css');