@import url('base.css');

/* Loading */

.loading-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 50;
}

.loading-wrapper .logo img {
    height: 75px;
    cursor: pointer;
    animation: scaleAnimation 1s infinite alternate ease-in-out;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background-image: linear-gradient(to right, black, transparent);
    z-index: 8;
}

.sidebar.subsi-active {
    background: white;
}

.sidebar .sidebar-container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px 0;
}

.sidebar .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 50px;
    transform: translateX(-50%);
}

.sidebar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}

.sidebar ul li.active {
    background: var(--main-bg-color);
}

.sidebar ul li:last-child {
    margin-bottom: 0;
}

.sidebar ul li a {
    display: flex;
    color: white;
}

.sidebar ul li span {
    font-size: 35px;
    transition: all .3s ease;
}

.sidebar ul li:focus span,
.sidebar ul li:active span {
    font-size: 30px;
}

.sidebar ul li.active span {
    color: black;
}

.sidebar.subsi-active ul li.active {
    background: black;
}

.sidebar.subsi-active ul li.active span {
    color: var(--main-bg-color);
}

.sidebar.subsi-active ul li {
    color: black;
}

.subsidebar {
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0 10px 10px 0;
    transition: all .3s;
    z-index: 7;
}

.subsidebar.show {
    left: 80px;
}

.subsidebar .subsidebar-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    flex: 1;
}

.subsidebar .subsidebar-header {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.subsidebar .subsidebar-header h2 {
    color: black;
    font-size: 25px;
}

.subsidebar .subsidebar-body {
    margin-top: 10px;
    flex: 1;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    z-index: 10;
}


.modal.show {
    display: flex;
}

.modal .modal-container {
    position: relative;
    width: 500px;
    height: auto;
    background: white;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 15px;
    animation: leitlearn_modal_slide_in 0.3s forwards;
}

.modal:not(.show) .modal-container {
    animation: leitlearn_modal_slide_out 0.3s forwards;
}

.modal.detail-modal .modal-container {
    width: 700px;
}

.modal .modal-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
}

.modal .modal-header .title {
    max-width: 70%;
    color: black;
    text-align: center;
    font-size: 18px;
    word-break: break-word;
}

.modal .modal-header .modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .1);
    color: black;
    border-radius: 50%;
    transition: all .3s;
    cursor: pointer;
}

.modal .modal-body,
.modal .modal-body form {
    display: flex;
    margin: 0 50px;
    flex-direction: column;
}

.modal .modal-body .remaining-time,
.modal .modal-body .confirm {
    font-weight: 500;
    text-align: center;
}

.modal .modal-body .remaining-time {
    margin-bottom: 15px;
}

.modal .modal-body .remaining-time #remainingTime {
    font-weight: 600;
}

.modal .modal-body form {
    margin: 15px 0;
}

.modal.detail-modal .modal-body .detail {
    margin-top: 10px;
    color: black;
}

.modal.detail-modal .modal-body .detail .creator-infos {
    margin-top: 15px;
}

.modal.detail-modal .modal-body .detail .creator-infos .information .data .packet-creator {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.modal.detail-modal .modal-body .detail .creator-infos .information .data .packet-creator .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.modal.detail-modal .detail-tab {
    flex-direction: column;
    margin-bottom: 15px;
}

.modal.detail-modal .detail-tab table .actions .action {
    margin-right: 10px;
}

button[type=submit],
.modal.detail-modal button[type=submit] {
    width: 100%;
    padding: 10px 15px;
    background: var(--main-bg-color);
    color: black;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, .075);
    border-radius: 5px;
    cursor: pointer;
}

.modal.detail-modal .modal-body form {
    margin: 0 !important;
}

.modal.detail-modal .flashcards {
    max-height: 175px;
    width: 100%;
    padding: 10px 5px;
    margin-top: 10px;
    overflow-y: scroll;
}

.modal.detail-modal .flashcards .flashcard {
    padding: 25px 15px;
}

.modal.detail-modal .actions {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.modal.detail-modal .actions button[type=submit] {
    width: 70%;
}

.modal.detail-modal .loader-button {
    margin-top: 15px;
    width: 100%;
}

.modal.detail-modal #detail-tab-flashcards .loader-button {
    margin-top: 0;
}

.tab span .search-result-null {
    font-weight: 600;
    text-align: center;
}

.sidebar ul li span:hover {
    transform: scale(1.03);
}

.modal .modal-header .modal-close:active {
    transform: scale(0.90);
}

.modal .modal-container .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.modal .modal-container .modal-body .features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 10px;
}

.modal .modal-container .modal-body .features .feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.modal .modal-container .modal-body .features .feature .icon {
    margin-bottom: 6px;
}

.modal .modal-container .modal-body .features .feature .icon span {
    font-size: 30px;
    color: #6c6767;
}

.modal .modal-container .modal-body .features .feature .content {
    max-width: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    color: #6c6767;
}

.modal .modal-container .modal-body .btn-container .modal-btn {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin-left: 10px;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 15px;
    padding: 8px 15px 8px 11px;
    background: var(--main-bg-color);
    color: black;
    cursor: pointer;
    width: 190px;
    justify-content: center;
}

.modal .modal-container .modal-body .btn-container .modal-btn i {
    margin-left: 7px;
}

.modal .modal-container .modal-header .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .modal-container .modal-header .text-content h2 {
    margin-bottom: 15px;
}

.modal .modal-container .modal-body .detail-tab select {
    width: 30%;
}

.modal .modal-container .modal-body form .text-separator {
    position: relative;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.modal .modal-container .modal-body form .text-separator span {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    color: #ccc;
    font-weight: 500;
    font-size: 14px;
    padding: 5px;
}

.modal .modal-container .modal-body .no-account {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, .075);
    text-align: center;
    color: rgba(0, 0, 0, .6);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal-container .modal-body .policy {
    margin: 10px 0 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
}

.modal .modal-container .modal-body .policy a {
    color: black;
    text-decoration: none;
}

.modal.turbo .modal-thumbnail.animated {
    animation: 3s infinite leitlearn_move_up;
    cursor: pointer;
}

.modal.turbo .modal-thumbnail img {
    height: 200px;
    width: 200px;
}

.modal.turbo .modal-body h2 {
    margin-bottom: 15px;
    font-size: 30px;
    color: black;
}

.modal.turbo .modal-body h2 span {
    background-color: #f06543;
    background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal.turbo .modal-body .features {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0 0;
    padding: 20px 15px 15px 15px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.modal.turbo .modal-body .features .title {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 5px;
    background: white;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .4);
    font-weight: 600;
    font-size: 12px;
}

.modal.turbo .modal-body .features .feature {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: all .3s;
}

.modal.turbo .modal-body .features .feature:last-child {
    margin-bottom: 0;
}

.modal.turbo .modal-body .features .feature .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-color: #f06543;
    background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
    color: white;
    border-radius: 50%;
}

.modal.turbo .modal-body .features .feature span {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.modal.turbo .modal-body .features .feature .badge span {
    font-size: 22px;
    color: white;
}

.modal.turbo .modal-body .subscribe {
    width: 100%;
    padding: 12px 15px;
    margin: 15px 0 20px;
    background-color: #f06543;
    background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
    color: black;
    font-weight: 600;
    font-size: 16px;
    border: 0;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.modal.black .modal-container {
    background: black;
}

.modal.black .modal-close {
    background: rgba(255, 255, 255, .1);
    color: white;
}

.modal .news-container {
    max-height: 350px;
    overflow-y: scroll;
}

.modal .news .news-thumbnail {
    height: 200px;
    width: 100%;
    margin: 20px 0 15px;
    background: white;
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
}

.modal .news,
.modal .news .news-title{
    margin-bottom: 15px;
}

.modal .news .news-desc,
.modal .news ul li {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
}

.modal .news ul {
    padding: 10px 0 0 15px;
}

/*  Importation via fichier */

.modal .modal-container .modal-body .minimum {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #ccc;
}

.leitlearn_import_paquet_via_file {
    position: relative;
    margin-bottom: 15px;
}

.leitlearn_import_paquet_via_file label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, .075);
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}

.leitlearn_import_paquet_via_file label:active {
    transform: scale(.98);
}

.leitlearn_import_paquet_via_file .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
    border-radius: 50%;
    border: 2px solid var(--main-bg-color);
}

.leitlearn_import_paquet_via_file .icon span {
    color: var(--main-bg-color);
    font-size: 30px;
}

.leitlearn_import_paquet_via_file input {
    position: absolute;
    visibility: hidden;
}

.leitlearn_import_paquet_via_file .supported {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #ccc;
}

.modal-body .search-keywords-group {
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .075);
}

.modal-body .search-keywords-group input {
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .075);
    border-radius: 10px 10px 0 0;
}

.modal-body .search-keywords-group input::placeholder {
    color: rgba(0, 0, 0, .4);
}

.modal-body .search-keywords-group input:focus {
    border: 0 !important;
    border-bottom: 2px solid rgba(0, 0, 0, .075) !important;
}

.modal-body .select-keywords {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 5px 10px;
    max-height: 150px;
    overflow-y: auto;
}

.modal-body .select-keywords .keywords {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    padding: 8px;
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.modal-body .select-keywords .keywords span {
    margin-right: 10px;
    font-weight: 500;
    font-size: 13px;
}

.modal-body .search-users-group input {
    margin-bottom: 0;
}

.modal-body .view-users {
    max-height: 390px;
    overflow-y: scroll;
}

.modal-body .view-users .user {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.modal-body .view-users .user:last-child {
    border: 0;
}

.modal-body .view-users .user .profile-picture {
    min-width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    background: var(--main-bg-color);
    cursor: pointer;
}

.modal-body .view-users .user a {
    display: flex;
    margin-left: auto;
    color: rgba(0, 0, 0, .5);
}

.wider .input-group textarea {
    margin-bottom: 0;
}

.wider {
    border-radius: 25px 25px 0 0;
    width: 700px !important;
}

.modal-body .btn-group-front {
    display: flex;
    padding: 3px 20px;
    border-radius: 0 0 25px 25px;
    border: 2px solid #e5e5e5;
    margin-bottom: 20px;
    height: 50px;
    border-top: none;
}
.modal-body .btn-group-front button {
    border: none;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.modal-body .btn-group-front .btn-flashcard-options {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.modal-body .btn-group-front .btn-flashcard-options:hover {
    background: rgba(0, 0, 0, .050);
    transition: ease 0.3s;

}
.modal-body .btn-group-front .btn-flashcard-options span {
    font-family: 'Material Symbols Rounded';
    font-size: 24px;
    font-weight: 300;

}
.modal-body .btn-group-front .separator {
    display: flex;
    flex-direction: column;
    width: 1px;
    background: rgba(0, 0, 0, .1);
    margin: 10px 2px;
}

.wider {
    max-height: 640px;
    overflow-y: auto;
    border-radius: 25px 25px 0 0;
    width: 700px !important;
}

.wider .modal-header{
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

.wider .input-group.front,
.wider .input-group.back{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.wider .input-group.front .title,
.wider .input-group.back .title{
    margin-bottom: 10px;
}
.wider .input-group .ql-toolbar{
    order: 2;
    display: flex;
    padding: 3px 20px;
    border-radius: 0 0 25px 25px;
    border-right: 2px solid #e5e5e5!important;
    border-left: 2px solid #e5e5e5!important;
    border-bottom: 2px solid #e5e5e5!important;
    height: 50px;
    border-top: none;
}


.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: 2px solid rgba(0, 0, 0, .075)!important;
}

.ql-toolbar.ql-snow .ql-formats{
    margin: 0!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ql-toolbar.ql-snow .ql-formats button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: white;
    width: 100%;
    height: 100%;
}

.ql-toolbar.ql-snow .ql-formats button:hover{
    background: rgba(0, 0, 0, .050);
    transition: ease 0.3s;
}


.ql-toolbar.ql-snow .ql-formats button span{
    margin:0;
    font-size: 24px;
    color: black;
    font-weight: 300;
}

.ql-toolbar.ql-snow .ql-formats .ql-header .ql-picker{
    margin: 0!important;

}
.wider .input-group textarea{
    margin-bottom: 0;
    border-radius: 20px 20px 0 0;
    height: 150px;
    border: 2px solid rgba(0, 0, 0, .075);
}

.input-group .title {
    color: rgba(0, 0, 0, .4);
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
}

.input-group .text-area p {
    word-wrap: break-word;
    white-space: break-spaces;
    margin: 10px 0;
}
.text-area{
    margin-bottom: 0;
    border-radius: 20px 20px 0 0;
    min-height: 150px;
    font-weight: 500;
    font-size: 15px;
    border: 2px solid rgba(0, 0, 0, .075);
    cursor: pointer;
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    outline: 0;
    overflow-y: auto;
}

.text-area:focus {
    border: 2px solid  var(--main-bg-color);
}

.text-area:focus:hover {
    cursor: text;
}

.modal-body .btn-group-front {
    display: flex;
    padding: 3px 20px;
    border-radius: 0 0 25px 25px;
    border: 2px solid #e5e5e5;
    margin-bottom: 20px;
    height: 50px;
    border-top: none;
}
.modal-body .btn-group-front button {
    border: none;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.modal-body .btn-group-front .btn-flashcard-options {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: white;
}

.modal-body .btn-group-front .btn-flashcard-options:hover {
    background: rgba(0, 0, 0, .050);
    transition: ease 0.3s;

}
.modal-body .btn-group-front .btn-flashcard-options span {
    font-size: 24px;
    font-weight: 300;
}

.tools-separator {
    display: block;
    min-width: 1px;
    min-height: 20px;
    margin: 0 7px;
    background: rgba(0, 0, 0, .125);
}

.ql-tooltip {
    left: 0!important;
    border-radius: 10px;
}

/* Authentification */

.auth-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-form .auth-form-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: auto;
    padding: 25px 70px;
    background: #212121;
    border-radius: 15px;
}

.auth-form .auth-form-container .auth-form-header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.auth-form .auth-form-container .auth-form-header .close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #111111;
    transition: all .3s;
    cursor: pointer;
}

.auth-form .auth-form-container .auth-form-header .logo {
    margin: auto;
    width: 35px;
    height: 45px;
    transform: translateX(-50%);
    background-image: url(https://static.leitlearn.com/img/leitlearn-logo.png);
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    cursor: pointer;
}

.auth-form .auth-form-container .auth-form-header .close:active {
    transform: scale(.96);
}

.auth-form .auth-form-container .auth-form-body {
    margin-top: 50px;
}

.auth-form .auth-form-container .auth-form-body .title {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 800;
}

.auth-form .auth-form-container .auth-form-body .desc {
    max-width: 90%;
    font-weight: 600;
    font-size: 15px;
    color: rgba(255, 255, 255, .7);
}

.auth-form .auth-form-container .auth-form-body form {
    margin-top: 20px;
}

.auth-form .auth-form-container .auth-form-body form,
.auth-form .auth-form-container .auth-form-body input {
    width: 100%;
}

.auth-form .auth-form-container .auth-form-body input[type=text],
.auth-form .auth-form-container .auth-form-body input[type=password] {
    margin-bottom: 12px;
    background: #212121;
    color: white;
    border: 2px solid rgba(255, 255, 255, .3);
}

.auth-form-body form .input-group label {
    color: rgba(255, 255, 255, .6);
    background: #212121;
}

.auth-form-body form .input-group input:focus+label,
.auth-form-body form .input-group input:not(:placeholder-shown)+label,
.auth-form-body form .input-group textarea:not(:placeholder-shown)+label {
    color: var(--main-bg-color);
    background: #212121;
}

.auth-form-body form .input-group input:not(:focus)+label {
    color: rgba(255, 255, 255, .5) !important;
}

.auth-form-body form select {
    background: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .3);
}

.auth-form-body form .birth .info,
.auth-form-body form .genre .info {
    color: white;
}

/* Page d'accueil */

span.badge {
    padding: 2px 6px;
    margin-right: 8px;
    border-radius: 2px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: auto;
    background-size: 400% 400%;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    animation: gradient 15s ease infinite;
    cursor: pointer;
}

.fixed-infos {
    position: sticky;
    top: 0;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: calc(100%);
    background: black;
    z-index: 3;
    cursor: pointer;
}

.fixed-infos .text {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
}

.fixed-infos .text .text-ia {
    margin: 0 7px 0 5px;
    font-weight: 700;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header {
    position: relative;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(to top, black, transparent);
    padding-left: 80px;
}

#header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


header .new {
    display: flex;
    align-items: center;
    padding: 6px 15px;
    border-radius: 25px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    color: white;
    font-weight: 700;
    animation: gradient 15s ease infinite;
    cursor: pointer;
}

header .new svg {
    margin-left: 7px;
}

header .new.leitlearn-2 {
    background: white;
    color: black;
}

header .new.leitlearn-2 img {
    height: 20px;
    margin-right: 5px;
}

header .logo {
    display: none;
    margin-bottom: 15px;
}

header .logo img {
    height: 50px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .3));
}

header .title {
    max-width: 1200px;
    line-height: 130px;
    font-size: 120px;
    font-weight: 700;
    color: white;
    text-align: center;
}

header .desc {
    margin: 40px 0;
    max-width: 400px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
}

header button,
footer button,
.profile .profile-data .action {
    display: flex;
    align-items: center;
    padding: 13px 25px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    background: white;
    border-radius: 25px;
    border: 0;
    transition: all .3s;
    cursor: pointer;
}

header button {
    margin-top: 0;
}

header button span,
footer button span {
    margin-left: 7px;
    animation: 1.5s infinite leitlearn_header_arrow_move;
}

header button:active,
.presentation button:active,
footer button:active,
.profile .profile-data .action:active {
    transform: scale(0.95);
}

/* Styles pour le menu de défilement */

.scroll-menu {
    position: relative;
    margin-top: 16px;
    overflow-x: scroll;
}

.scroll-menu h2 {
    margin-bottom: 20px;
}

.scroll-content {
    display: flex;
    transition: transform 0.3s ease;
    scroll-behavior: smooth;
}

.scroll-content a.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    min-width: 250px;
    padding: 10px 12px;
    background: var(--main-bg-color);
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
}

.scroll-content img {
    max-width: 100%;
    height: auto;
    margin-right: 15px;
}

.scroll-content img:last-child {
    margin-right: 0;
}

.container {
    position: relative;
    padding: 0 500px;
}

/* Styles pour la section de présentation */

.section-feature {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 450px;
    margin: 60px 0 80px;
    background: #111111;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}

.section-feature.new {
    border-radius: 15px;
}

.section-feature .content {
    z-index: 2;
}

.section-feature .badge {
    position: relative;
    padding: 8px 15px;
    margin: 0 auto 20px;
    width: 120px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-weight: 600;
}

.section-feature .badge::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 3px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.section-feature .title {
    font-size: 50px;
    max-width: 500px;
    margin: 0 auto 25px;
}

.section-feature .title span {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-feature .desc {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    max-width: 600px;
    color: rgba(255, 255, 255, .7);
}

.section-features {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.section-features .feature {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto 200px;
    text-align: center;
    cursor: pointer;
}

.section-features .feature .media {
    position: relative;
    width: 50%;
    height: 400px;
    margin-right: 50px;
    background: var(--main-bg-color);
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
}

.section-features .feature .media.market {
    background-image: url('https://static.leitlearn.com/img/market.jpg');
}

.section-features .feature .media.learn {
    background-image: url('https://static.leitlearn.com/img/learn.jpg');
}

.section-features .feature .media.leitlearn-2 {
    background: white;
    background-image: url('https://static.leitlearn.com/img/v2/leitlearn_2_news.png');
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-features .feature .content {
    width: 50%;
    text-align: left;
}

.section-features .feature .content .title {
    font-size: 55px;
    margin-bottom: 10px;
}

.section-features .feature .content .title span {
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-features .feature .content .title span.pink {
    background-color: #c86fc9;
    background-image: linear-gradient(316deg, #c86fc9 0%, #f79ad3 74%);
}

.section-features .feature .content .title span.yellow {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.section-features .feature .content .title span.dashed {
    background-image: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    color: white;
    border-bottom: 2px dashed white;
}

.section-features .feature .content .desc {
    margin-bottom: 20px;
    max-width: 500px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, .7);
}

.section-features .feature .content .action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 25px;
    width: 150px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: all .3s;
}

.section-features .feature .content .action.pink {
    background-color: #c86fc9;
    background-image: linear-gradient(316deg, #c86fc9 0%, #f79ad3 74%);
}

.section-features .feature .content .action.yellow {
    color: black;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}

.section-features .feature .content .action.white {
    background: white;
    color: black;
}

.section-features .feature .content .action:hover {
    transform: translateY(-7px);
}

.section-features .feature:nth-child(2n) {
    flex-direction: row-reverse;
}

.section-features .feature:nth-child(2n) .media {
    margin: 0 0 0 50px;
}

.section-features .feature.full .media .title {
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 20px;
    background: #111111;
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 25px;
}

.section-presentation {
    margin: 0 20%;
}

.presentation {
    display: flex;
    flex-direction: row;
    margin: 100px auto 0;
}

.presentation .picture {
    width: 65%;
    display: flex;
    margin-right: 80px;
}

.presentation .picture img {
    border-radius: 10px;
}

.presentation .presentation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 35%;
}

.presentation .presentation-content h2 {
    margin-bottom: 30px;
    color: white;
    font-size: 40px;
}

.presentation .presentation-content .content {
    margin-bottom: 40px;
    max-width: 500px;
    color: rgba(255, 255, 255, .7);
}

.presentation.reverse {
    flex-direction: row-reverse;
}

.presentation.reverse .picture {
    margin: 0 0 0 80px;
    justify-content: flex-end;
}

.presentation .presentation-content button {
    margin: 0 auto 0 0;
}

/* Styles pour la page marché */

section.me {
    position: relative;
    width: 100%;
    padding: 25px;
    background-color:#99c2ff;
    background-image:
            radial-gradient(at 83% 74%, hsla(217,72%,63%,1) 0px, transparent 50%),
            radial-gradient(at 96% 21%, hsla(17,90%,65%,1) 0px, transparent 50%),
            radial-gradient(at 13% 86%, hsla(121,72%,70%,1) 0px, transparent 50%),
            radial-gradient(at 76% 49%, hsla(36,88%,75%,1) 0px, transparent 50%),
            radial-gradient(at 99% 47%, hsla(268,99%,74%,1) 0px, transparent 50%),
            radial-gradient(at 65% 42%, hsla(326,98%,64%,1) 0px, transparent 50%),
            radial-gradient(at 15% 9%, hsla(354,76%,63%,1) 0px, transparent 50%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
    border-radius:  0 0 10px 10px;
}

section.me .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

section.me .section-header {
    position: relative;
    margin-bottom: 40px;
    z-index: 2;
}

section.me .profile {
    display: flex;
    align-items: center;
}

section.me .profile .profile-picture {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
    background: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.me .profile .text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-weight: 500;
}

section.me .profile .text span {
    color: rgba(255, 255, 255, .7);
}

section.me .profile .text h2 {
    font-size: 30px;
}

section.search {
    position: relative;
    margin: 25px 0;
}

section.search .search-input {
    position: relative;
}

section.search .search-input label {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    display: flex;
    color: rgba(255, 255, 255, .7);
}

section.search .search-input input {
    width: 400px;
    padding: 13px 0 13px 45px;
    background: #111111;
    border-radius: 10px;
    border: 1px solid transparent;
    color: rgba(255, 255, 255, .7);
}

section.search .search-input input:focus,
section.search .search-input input:active {
    outline: none;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(255, 255, 255, .4);
}

section.search .search-results {
    position: absolute;
    display: none;
    width: 400px;
    background: #111111;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, .4);
    border-top: 0;
    z-index: 2;
}

section.search .search-results.active {
    display: block;
}

section.search .search-results .result {
    padding: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, .7);
    transition: all .3s;
    cursor: pointer;
}

section.search .search-results .result:hover {
    background: #212121;
}

section.search .search-results .result:last-child {
    border-radius: 0 0 10px 10px;
}

.section-packets {
    margin-bottom: 30px;
}

.section-header {
    display: flex;
    align-items: center;
}

.section-header .scroll-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.section-header .scroll-buttons .scroll-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    color: white;
    background: black;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .125);
    transition: all 0.3s ease;
    cursor: pointer;
}

.section-header .scroll-buttons .scroll-button:hover {
    background: rgba(255, 255, 255, .125);
}

.section-header .scroll-buttons .scroll-button:active {
    transform: scale(.95);
}

.section-header .scroll-buttons .scroll-button span {
    font-size: 30px;
}


.section-header .scroll-buttons .scroll-button:first-child {
    margin-left: 0;
}

.packets {
    margin: 30px 0 50px;
}

.packet-title {
    color: white;
    margin-top: 30px;
}

.packets h2 {
    margin-bottom: 15px;
}

.packets .packet {
    position: relative;
    width: 250px;
    height: 150px;
    justify-content: center;
    display: flex;
}

.packets .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.packets .content .packet {
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

/* Explore */

.categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.categories a {
    color: white;
}

.categories .category {
    position: relative;
    width: 170px;
    height: 100px;
    margin: 0 25px 25px 0;
    padding: 10px;
    background: red;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}

.categories .category:active {
    transform: scale(.98);
}

.categories .category .title {
    font-weight: 600;
    font-size: 20px;
}

.categories .category .icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: black;
    border-radius: 50%;
    background: white;
}

.categories .category .icon span {
    font-size: 30px;
}

/* Styles pour la page articles */

.article .article-header {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .125);
}

.article .article-header .date {
    color: rgba(255, 255, 255, .7);
    font-weight: 500;
}

.article .article-content {
    padding: 20px 0 30px;
}


/* Styles pour le footer */

footer .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-bottom: 30px;
    background-image: url('https://static.leitlearn.com/img/v2/leitlearn_footer_bg.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
}

footer .footer-content .footer-desc {
    color: black;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .footer-content button {
    background: black;
    color: var(--main-bg-color);
}

footer .footer-data {
    padding: 30px;
    background: #111111;
    border-radius: 10px 10px 0 0;
}

footer .footer-data .languages,
footer .footer-data .social {
    margin-bottom: 20px;
    font-weight: 500;
}

footer .footer-data .languages h4,
footer .footer-data .social h4,
footer .footer-data .footer-links-group .footer-links span {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, .7);
}


footer .footer-data .languages ul,
footer .footer-data .social ul {
    display: flex;
    align-items: center;
    list-style: none;
}

footer .footer-data .languages ul li,
footer .footer-data .social ul li {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

footer .footer-data .languages ul li:last-child,
footer .footer-data .social ul li:last-child {
    margin-right: 0;
}

footer .footer-data .social .link img {
    width: 25px;
    height: 25px;
}

footer .footer-data .separator {
    margin: 70px auto;
    background: rgba(255, 255, 255, .1);
    height: 1px;
    width: 75%;
}

footer .footer-data .separator.top {
    margin: 70px auto 35px;
}

footer .footer-data .footer-links-group {
    display: flex;
    flex-wrap: wrap;
}


footer .footer-data .footer-links-group .footer-links {
    display: flex;
    flex-direction: column;
    margin: 35px 35px 0 0;
    font-weight: 500;
    list-style: none;
}

footer .footer-data .footer-links-group .footer-links:last-child {
    margin-right: 0;
}

footer .footer-links .footer-link {
    margin-bottom: 10px;
}

footer .footer-links .footer-link:last-child {
    margin-bottom: 0;
}

footer .footer-links .footer-link a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

footer .footer-data .copyright {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, .7);
    font-size: 14px;
    cursor: pointer;
}

footer .footer-data .copyright img {
    height: 40px;
    margin-right: 15px;
}

/*  Keyframes */

@keyframes leitlearn_header_arrow_move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(7px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes leitlearn_move_up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes leitlearn_modal_slide_in {
    from {
        bottom: -800px;
    }

    to {
        bottom: 0;
    }
}

@keyframes leitlearn_modal_slide_out {
    from {
        bottom: 0;
    }

    to {
        bottom: -800px;
    }
}

/* Styles pour les médias responsifs */

@media screen and (max-width: 2200px) {
    .container {
        padding: 0 400px;
    }
}

@media screen and (max-width: 1920px) {
    .container {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1560px) {
    .container {
        padding: 0 30px 0 0;
    }

    footer .footer-content .footer-desc {
        font-size: 50px;
    }
}

@media screen and (max-width: 1500px) {
    header {
        height: 600px;
    }

    header .title {
        line-height: 110px;
        font-size: 100px;
    }
}

@media screen and (max-width: 1050px) {
    footer .footer-content .footer-desc {
        font-size: 40px;
    }
}

@media screen and (max-width: 950px) {
    header {
        height: 500px;
    }

    header .new {
        display: none;
    }

    header .title {
        max-width: 700px;
        font-size: 80px;
        line-height: 80px;
    }

    header .desc {
        margin: 25px 0;
    }

    footer .footer-content .footer-desc {
        max-width: 400px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    header {
        height: 400px;
    }

    header .title {
        max-width: 500px;
        font-size: 65px;
        line-height: 65px;
    }

    .section-features .feature {
        flex-direction: column !important;
        margin-bottom: 100px;
    }

    .section-features .feature .media {
        width: 100%;
        margin: 0 0 30px 0 !important;
    }

    .section-features .feature .content {
        width: auto;
    }
}

@media screen and (max-width: 750px) {
    .modal .modal-container {
        width: 600px !important;
    }
}


@media screen and (max-width: 620px) {
    .sidebar {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
    }

    .sidebar.dash {
        background: white !important;
        border-top: 1px solid rgba(0, 0, 0, .075);
    }

    .sidebar .sidebar-container {
        padding: 0;
    }

    .sidebar .logo {
        display: none;
    }

    .sidebar ul {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }

    .sidebar ul li {
        margin-bottom: 0;
    }

    .sidebar ul li:nth-child(1) {
        order: 2;
    }

    .sidebar ul li:nth-child(2) {
        order: 1;
    }

    .sidebar ul li:nth-child(3) {
        order: 3;
    }

    .sidebar ul li:nth-child(4) {
        order: 4;
    }

    .sidebar ul li:last-child {
        order: 5;
    }

    .sidebar ul li.active {
        background: transparent !important;
    }

    .sidebar ul li.active span {
        color: white;
    }

    .sidebar {
        background: #111111 !important;
    }

    .sidebar ul li span,
    .sidebar ul li.active span {
        color: white !important;
    }

    .sidebar ul li span {
        font-size: 30px;
    }

    .sidebar.dash ul li span,
    .sidebar.dash ul li.active span,
    .sidebar.dash.subsi-active ul li.active span {
        color: black !important;
    }


    .modal .modal-container {
        width: 500px !important;
    }

    .modal.detail-modal .detail .thumbnail {
        display: none;
    }

    .modal.detail-modal .detail .infos {
        width: 100%;
    }

    .modal.detail-modal .detail .infos .desc {
        text-align: center;
    }

    .modal.detail-modal .detail .infos .keys {
        justify-content: center;
    }

    main {
        margin-left: 0 !important;
    }

    header {
        height: 450px;
        padding: 0 15px;
    }

    header .new {
        display: none;
    }

    header .logo {
        display: block;
    }

    header button,
    footer button {
        padding: 10px 15px;
    }

    .redirect.show {
        right: 80px;
        bottom: 65px !important;
    }

    .redirect.no-ia {
        right: 20px;
        bottom: 65px !important;
    }

    .ia {
        right: 20px;
        bottom: 65px !important;
    }

    .container {
        margin: 0;
    }

    section.me .profile .profile-picture {
        width: 60px;
        height: 60px;
    }

    section.me .profile .text h2 {
        font-size: 20px;
    }

    footer {
        margin: 0 0 50px;
    }
}

@media screen and (max-width: 520px) {
    .modal .modal-container {
        position: absolute;
        left: 0;
        bottom: -100%;
    }

    .modal.show .modal-container {
        position: absolute;
        bottom: 0;
        width: 100% !important;
        border-radius: 15px 15px 0 0;
    }

    .modal .modal-body,
    .modal .modal-body form {
        margin: 0 15px 15px;
    }

    .modal .modal-body form {
        margin: 10px;
    }

    .modal .modal-container .modal-body select {
        padding: 10px;
    }

    section.search .search-input input {
        width: 300px;
    }
}

@media screen and (max-width: 513px) {
    header h1 {
        font-size: 35px;
    }

    .section-features .feature .media {
        height: 300px;
    }

    .section-features .feature .title {
        font-size: 50px !important;
    }

    .section-features .feature .content .desc {
        font-size: 16px;
    }

    .section-features .feature .content .action {
        width: 150px;
        height: 50px;
    }
}

@media screen and (max-width: 461px) {
    header {
        height: 350px;
    }

    header .title {
        margin-bottom: 15px;
        line-height: 50px;
        font-size: 50px;
    }

    header .desc {
        display: none;
    }

    header button {
        margin-top: 15px;
    }

    header button,
    footer button {
        font-size: 18px;
    }

    .container {
        padding: 0 15px;
    }
}

@media screen and (max-width: 430px) {
    .fixed-infos {
        font-size: 14px;
    }

    .fixed-infos span.badge {
        display: none;
    }

    .categories .category {
        width: 120px;
        height: 70px;
        margin: 0 15px 15px 0;
        padding: 5px;
        word-break: break-word;
    }

    .categories .category .title {
        font-size: 14px;
    }

    .categories .category .icon {
        width: 25px;
        height: 25px;
    }

    .categories .category .icon span {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {

    header button,
    footer button {
        font-size: 17px;
    }

    .section-features .feature .media {
        height: 250px;
    }

    footer .footer-content .footer-desc {
        max-width: 300px;
    }
}
